
<!--==========================================================================
	FTL macros 
	========================================================================== -->


<!--==========================================================================
	CSS styles 
	========================================================================== -->


<style type="text/css">

body {
	background-color: #dddddd;
}

/* Table styles. */

table {
  border-color: #000;
  border-spacing: 0px;
  border-style: solid;
  border-width: 1px;
  cell-spacing: 0px;
}

.noBorder {
  border-width: 0px;
}

td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  padding: 2px 0.5em;
  white-space: nowrap;
}

td.numeric {
  text-align: right;
}

th {
  background-color: #c0c0c0;
}

th.mainHeader {
  background-color: #808080;
  color: #ffffff;
  text-align: left;
}

th a {
  color: #000080;
  text-decoration: none;
}

th a:visited {
  color: #000080;
}

th a:active, th a:hover {
  color: #800000;
  text-decoration: underline;
}

.toc {
	border: 1px solid #aaa;
	background-color: #eeeeee;
	padding: 5px;
	font-size: 95%;
}

.note {
	border: 1px solid #aaa;
	background-color: #eeeeee;
	padding: 5px;
	font-size: 90%;
	text-align: left;
}

.main {
	margin-top: 15px;
	width: 1000px;
	text-align: left;
	background: #ffffff;
	border: 3px solid #777777;
}

.histo {
	table-layout:fixed;
	width:100%;
	border:1px solid #aaa;
	word-wrap:break-word;
}

</style>


<!--==========================================================================
	Index
	========================================================================== -->

<center>
<div class="main">

<center> <h3> SnpEff: Variant analysis </h3> </center>

<div style="margin-left: .5em">
<table class="toc"><tr><td>
	<center><b>Contents</b></center>
	<a href="#summary">Summary</a><br>
	<a href="#changeRateChr"> Variant rate by chromosome</a><br>
	<a href="#changesByType">Variants by type</a><br>
	<a href="#effectsImpact"> Number of variants by impact </a><br>
	<a href="#effectsImpact"> Number of variants by functional class </a><br>
	<a href="#effects"> Number of variants by effect </a><br>
	<a href="#quality">Quality histogram</a><br>
	<a href="#indels">InDel length histogram</a><br>
	<a href="#baseChages">Base variant table</a><br>
	<a href="#tstv">Transition vs transversions (ts/tv)</a><br>
	<a href="#alleleFreq"> Allele frequency </a><br>
	<a href="#alleleCount"> Allele Count </a><br>
	<a href="#codonChanges"> Codon change table </a><br>
	<a href="#aaChanges"> Amino acid change table </a><br>
	<a href="#chrChanges"> Chromosome variants plots </a><br>
	<a href="snpEff_genes.txt"> Details by gene </a><br>
</tr></td></table>
</div>


<!--==========================================================================
	Summary table 
	========================================================================== -->

<hr>
<a name="summary">
<center>
<b>Summary</b><p>

<table border=0>
	<tr bgcolor=ffffff> 
		<td valign=top> <b> Genome </b> </td>
		<td> GRCh38.86 </td>
	</tr>
	<tr bgcolor=dddddd> 
		<td valign=top> <b> Date </b> </td>
		<td> 2021-01-01 15:16 </td>
	</tr>
	<tr bgcolor=ffffff> 
		<td valign=top> <b> SnpEff version </b> </td>
		<td> <pre>SnpEff 4.3t (build 2017-11-24 10:18), by Pablo Cingolani</pre> </td>
	</tr>
	<tr bgcolor=dddddd> 
		<td valign=top> <b> Command line arguments </b> </td>
		<td> <pre>SnpEff  GRCh38.86 /home/francisc/data/projects/PTH/pth_panel_seq_pipeline/batches/batch0001/results/snver/norm/PTH0281-CMP027.indel_norm.vcf.gz 
</pre> </td>
	</tr>
	<tr bgcolor=ffffff> 
		<td valign=top> <b> Warnings </b> </td>
		   
		<td bgcolor="#ffff00"> 1,603 </td>
	</tr>	
	<tr bgcolor=dddddd> 
		<td valign=top> <b> Errors </b> </td>
		 
		<td bgcolor="#dddddd"> 0 </td>
	</tr>	
	<tr bgcolor=ffffff>
		<td valign=top> <b> Number of lines (input file) </b> </td>
		<td> 609 </td>
	</tr>
	<tr bgcolor=dddddd>
		<td valign=top> <b> Number of variants (before filter) </b> </td>
		<td> 609 </td>
	</tr>
	<tr bgcolor=ffffff>
		<td valign=top> <b> Number of not variants <br>(i.e. reference equals alternative) </b> </td>
		<td> 0 </td>
	</tr>
	<tr bgcolor=dddddd>
		<td valign=top> <b> Number of variants processed <br> (i.e. after filter and non-variants) </b> </td>
		<td> 609 </td>
	</tr>
	<tr bgcolor=ffffff>
		<td valign=top> <b> Number of known variants <br>(i.e. non-empty ID) </b> </td>
		<td> 
		0
		( 0% ) 
		</td>
	</tr>
	<tr bgcolor=ffffff>
		<td valign=top> <b> Number of multi-allelic VCF entries <br>(i.e. more than two alleles) </b> </td>
		<td> 
		0
		</td>
	</tr>
	<tr bgcolor=dddddd>
		<td valign=top> <b> Number of effects </b> </td>
		<td> 3,482 </td>
	</tr>
	<tr bgcolor=ffffff>
		<td valign=top> <b> Genome total length </b> </td>
		<td> 47,871,129,543 </td>
	</tr>
	<tr bgcolor=dddddd>
		<td valign=top> <b> Genome effective length </b> </td>
		<td> 3,088,269,832 </td>
	</tr>
	<tr bgcolor=ffffff>
		<td valign=top> <b> Variant rate </b> </td>
		<td> 1 variant every 5,071,050 bases </td>
	</tr>
</table>
<p>
</center>

<!--==========================================================================
	Variant rate by chromosome
	========================================================================== -->

<hr> 
<a name="changeRateChr"> 

<center>
<b> Variants rate details </b><p>

<table border=1>
	<tr><th> Chromosome </th><th> Length </th><th> Variants </th><th> Variants rate </th></tr> 
		<tr>
			<td> 1 </td>
			<td class="numeric"> 248,956,422 </td>
			<td class="numeric"> 25 </td>
			<td class="numeric"> 9,958,256 </td>
		</tr> 
		<tr>
			<td> 2 </td>
			<td class="numeric"> 242,193,529 </td>
			<td class="numeric"> 33 </td>
			<td class="numeric"> 7,339,197 </td>
		</tr> 
		<tr>
			<td> 3 </td>
			<td class="numeric"> 198,295,559 </td>
			<td class="numeric"> 43 </td>
			<td class="numeric"> 4,611,524 </td>
		</tr> 
		<tr>
			<td> 4 </td>
			<td class="numeric"> 190,214,555 </td>
			<td class="numeric"> 31 </td>
			<td class="numeric"> 6,135,953 </td>
		</tr> 
		<tr>
			<td> 5 </td>
			<td class="numeric"> 181,538,259 </td>
			<td class="numeric"> 39 </td>
			<td class="numeric"> 4,654,827 </td>
		</tr> 
		<tr>
			<td> 6 </td>
			<td class="numeric"> 170,805,979 </td>
			<td class="numeric"> 21 </td>
			<td class="numeric"> 8,133,618 </td>
		</tr> 
		<tr>
			<td> 7 </td>
			<td class="numeric"> 159,345,973 </td>
			<td class="numeric"> 65 </td>
			<td class="numeric"> 2,451,476 </td>
		</tr> 
		<tr>
			<td> 8 </td>
			<td class="numeric"> 145,138,636 </td>
			<td class="numeric"> 20 </td>
			<td class="numeric"> 7,256,931 </td>
		</tr> 
		<tr>
			<td> 9 </td>
			<td class="numeric"> 138,394,717 </td>
			<td class="numeric"> 27 </td>
			<td class="numeric"> 5,125,730 </td>
		</tr> 
		<tr>
			<td> 10 </td>
			<td class="numeric"> 133,797,422 </td>
			<td class="numeric"> 25 </td>
			<td class="numeric"> 5,351,896 </td>
		</tr> 
		<tr>
			<td> 11 </td>
			<td class="numeric"> 135,086,622 </td>
			<td class="numeric"> 40 </td>
			<td class="numeric"> 3,377,165 </td>
		</tr> 
		<tr>
			<td> 12 </td>
			<td class="numeric"> 133,275,309 </td>
			<td class="numeric"> 33 </td>
			<td class="numeric"> 4,038,645 </td>
		</tr> 
		<tr>
			<td> 13 </td>
			<td class="numeric"> 114,364,328 </td>
			<td class="numeric"> 22 </td>
			<td class="numeric"> 5,198,378 </td>
		</tr> 
		<tr>
			<td> 14 </td>
			<td class="numeric"> 107,043,718 </td>
			<td class="numeric"> 17 </td>
			<td class="numeric"> 6,296,689 </td>
		</tr> 
		<tr>
			<td> 15 </td>
			<td class="numeric"> 101,991,189 </td>
			<td class="numeric"> 16 </td>
			<td class="numeric"> 6,374,449 </td>
		</tr> 
		<tr>
			<td> 16 </td>
			<td class="numeric"> 90,338,345 </td>
			<td class="numeric"> 25 </td>
			<td class="numeric"> 3,613,533 </td>
		</tr> 
		<tr>
			<td> 17 </td>
			<td class="numeric"> 83,257,441 </td>
			<td class="numeric"> 45 </td>
			<td class="numeric"> 1,850,165 </td>
		</tr> 
		<tr>
			<td> 18 </td>
			<td class="numeric"> 80,373,285 </td>
			<td class="numeric"> 6 </td>
			<td class="numeric"> 13,395,547 </td>
		</tr> 
		<tr>
			<td> 19 </td>
			<td class="numeric"> 58,617,616 </td>
			<td class="numeric"> 12 </td>
			<td class="numeric"> 4,884,801 </td>
		</tr> 
		<tr>
			<td> 20 </td>
			<td class="numeric"> 64,444,167 </td>
			<td class="numeric"> 15 </td>
			<td class="numeric"> 4,296,277 </td>
		</tr> 
		<tr>
			<td> 21 </td>
			<td class="numeric"> 46,709,983 </td>
			<td class="numeric"> 5 </td>
			<td class="numeric"> 9,341,996 </td>
		</tr> 
		<tr>
			<td> 22 </td>
			<td class="numeric"> 50,818,468 </td>
			<td class="numeric"> 17 </td>
			<td class="numeric"> 2,989,321 </td>
		</tr> 
		<tr>
			<td> X </td>
			<td class="numeric"> 156,040,895 </td>
			<td class="numeric"> 26 </td>
			<td class="numeric"> 6,001,572 </td>
		</tr> 
		<tr>
			<td> Y </td>
			<td class="numeric"> 57,227,415 </td>
			<td class="numeric"> 1 </td>
			<td class="numeric"> 57,227,415 </td>
		</tr> 
	<tr>
		<th> Total </th>
		<th class="numeric"> 3,088,269,832 </th>
		<th class="numeric"> 609 </th>
		<th class="numeric"> 5,071,050 </th>
	</tr> 
</table> 
</center>

<!--==========================================================================
	Variants by type
	========================================================================== -->

<hr> 
<a name="changesByType"> 
<center>
<b> Number variants by type</b><p>

<table border=1>
	<thead>
		<tr>
			<th> <b> Type   </b> </th>
			<th> <b> Total  </b> </th>
		</tr>
	</thead>
    <tbody>
	    <tr>
	    	<td> <b> SNP </b> </td>
	    	<td class="numeric" bgcolor="ffffff"> 0 </td>
	    </tr>
	    <tr>
	    	<td> <b> MNP </b> </td>
	    	<td class="numeric" bgcolor="ffffff"> 0 </td>
	    </tr>
	    <tr>
	    	<td> <b> INS </b> </td>
	    	<td class="numeric" bgcolor="#00ff00"> 262 </td>
	    </tr>
	    <tr>
	    	<td> <b> DEL </b> </td>
	    	<td class="numeric" bgcolor="#ff0000"> 347 </td>
	    </tr>
	    <tr>
	    	<td> <b> MIXED </b> </td>
	    	<td class="numeric" bgcolor="ffffff"> 0 </td>
	    </tr>
	    <tr>
	    	<td> <b> INV </b> </td>
	    	<td class="numeric" bgcolor="ffffff"> 0 </td>
	    </tr>
	    <tr>
	    	<td> <b> DUP </b> </td>
	    	<td class="numeric" bgcolor="ffffff"> 0 </td>
	    </tr>
	    <tr>
	    	<td> <b> BND </b> </td>
	    	<td class="numeric" bgcolor="ffffff"> 0 </td>
	    </tr>
	    <tr>
	    	<td> <b> INTERVAL </b> </td>
	    	<td class="numeric" bgcolor="ffffff"> 0 </td>
	    </tr>
    </tbody>
    <tfoot>
	    <tr>
	    	<th><b>Total </b> </th>
	    	<th class="numeric"> 609 </th>
	    </tr>
    </tfoot>
</table>
</center>

<!--==========================================================================
	Effects by impact
	========================================================================== -->

<hr> 
<a name="effectsImpact"> 
<center>
<b> Number of effects by impact </b> <p> 

<table border=0>
	<thead>
		<tr> 
			<th><b> Type (alphabetical order)  </b></th>
			<th> &nbsp; </th>
			<th> Count </th>
			<th> Percent </th>
		</tr>
	</thead>
		<tr> 
			<td> <b> HIGH </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00ff00"> 10 </td> 
			<td class="numeric" bgcolor="#00ff00"> 0.287% </td>
		</tr>
		<tr> 
			<td> <b> LOW </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#0cf200"> 165 </td> 
			<td class="numeric" bgcolor="#0cf200"> 4.739% </td>
		</tr>
		<tr> 
			<td> <b> MODERATE </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00fe00"> 16 </td> 
			<td class="numeric" bgcolor="#00fe00"> 0.46% </td>
		</tr>
		<tr> 
			<td> <b> MODIFIER </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#ff0000"> 3,291 </td> 
			<td class="numeric" bgcolor="#ff0000"> 94.515% </td>
		</tr>
</table><br>
<p>
</center>

<!--==========================================================================
	Effects by functional class
	========================================================================== -->

<hr> 
<a name="effectsFuncClass"> 
<center>
<b> Number of effects by functional class </b> <p> 

<table border=0>
	<thead>
		<tr> 
			<th><b> Type (alphabetical order)  </b></th>
			<th> &nbsp; </th>
			<th> Count </th>
			<th> Percent </th>
		</tr>
	</thead>
</table><br>
<p>

Missense / Silent ratio: 0

</center>

<!--==========================================================================
	Effects stats
	========================================================================== -->

<hr> 
<a name="effects"> 
<center>
<b> Number of effects by type and region </b> <p> 

<table border=0>
	<tr>
		<th> Type </th>
		<th> Region </th>
	</tr>
	<tr>
		<td> <table border=0>
	<thead>
		<tr> 
			<th><b> Type (alphabetical order)  </b></th>
			<th> &nbsp; </th>
			<th> Count </th>
			<th> Percent </th>
		</tr>
	</thead>
		<tr> 
			<td> <b> 3_prime_UTR_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#07f700"> 72 </td> 
			<td class="numeric" bgcolor="#07f700"> 1.992% </td>
		</tr>
		<tr> 
			<td> <b> 5_prime_UTR_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#01fd00"> 16 </td> 
			<td class="numeric" bgcolor="#01fd00"> 0.443% </td>
		</tr>
		<tr> 
			<td> <b> TF_binding_site_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00fe00"> 8 </td> 
			<td class="numeric" bgcolor="#00fe00"> 0.221% </td>
		</tr>
		<tr> 
			<td> <b> conservative_inframe_insertion </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#01fd00"> 13 </td> 
			<td class="numeric" bgcolor="#01fd00"> 0.36% </td>
		</tr>
		<tr> 
			<td> <b> disruptive_inframe_insertion </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00fe00"> 2 </td> 
			<td class="numeric" bgcolor="#00fe00"> 0.055% </td>
		</tr>
		<tr> 
			<td> <b> downstream_gene_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#31cd00"> 457 </td> 
			<td class="numeric" bgcolor="#31cd00"> 12.645% </td>
		</tr>
		<tr> 
			<td> <b> frameshift_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00fe00"> 10 </td> 
			<td class="numeric" bgcolor="#00fe00"> 0.277% </td>
		</tr>
		<tr> 
			<td> <b> intergenic_region </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#0cf200"> 113 </td> 
			<td class="numeric" bgcolor="#0cf200"> 3.127% </td>
		</tr>
		<tr> 
			<td> <b> intron_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#ff0000"> 2,348 </td> 
			<td class="numeric" bgcolor="#ff0000"> 64.97% </td>
		</tr>
		<tr> 
			<td> <b> non_coding_transcript_exon_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#03fb00"> 31 </td> 
			<td class="numeric" bgcolor="#03fb00"> 0.858% </td>
		</tr>
		<tr> 
			<td> <b> non_coding_transcript_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00ff00"> 1 </td> 
			<td class="numeric" bgcolor="#00ff00"> 0.028% </td>
		</tr>
		<tr> 
			<td> <b> sequence_feature </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#03fb00"> 30 </td> 
			<td class="numeric" bgcolor="#03fb00"> 0.83% </td>
		</tr>
		<tr> 
			<td> <b> splice_region_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#0df100"> 128 </td> 
			<td class="numeric" bgcolor="#0df100"> 3.542% </td>
		</tr>
		<tr> 
			<td> <b> stop_gained </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00fe00"> 4 </td> 
			<td class="numeric" bgcolor="#00fe00"> 0.111% </td>
		</tr>
		<tr> 
			<td> <b> upstream_gene_variant </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#29d500"> 381 </td> 
			<td class="numeric" bgcolor="#29d500"> 10.542% </td>
		</tr>
</table><br>
 </td>
		<td> <table border=0>
	<thead>
		<tr> 
			<th><b> Type (alphabetical order)  </b></th>
			<th> &nbsp; </th>
			<th> Count </th>
			<th> Percent </th>
		</tr>
	</thead>
		<tr> 
			<td> <b> DOWNSTREAM </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#33cb00"> 457 </td> 
			<td class="numeric" bgcolor="#33cb00"> 13.125% </td>
		</tr>
		<tr> 
			<td> <b> EXON </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#05f900"> 55 </td> 
			<td class="numeric" bgcolor="#05f900"> 1.58% </td>
		</tr>
		<tr> 
			<td> <b> INTERGENIC </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#0cf200"> 113 </td> 
			<td class="numeric" bgcolor="#0cf200"> 3.245% </td>
		</tr>
		<tr> 
			<td> <b> INTRON </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#ff0000"> 2,221 </td> 
			<td class="numeric" bgcolor="#ff0000"> 63.785% </td>
		</tr>
		<tr> 
			<td> <b> MOTIF </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00ff00"> 8 </td> 
			<td class="numeric" bgcolor="#00ff00"> 0.23% </td>
		</tr>
		<tr> 
			<td> <b> SPLICE_SITE_REGION </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#0df100"> 128 </td> 
			<td class="numeric" bgcolor="#0df100"> 3.676% </td>
		</tr>
		<tr> 
			<td> <b> TRANSCRIPT </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#02fc00"> 31 </td> 
			<td class="numeric" bgcolor="#02fc00"> 0.89% </td>
		</tr>
		<tr> 
			<td> <b> UPSTREAM </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#2ad400"> 381 </td> 
			<td class="numeric" bgcolor="#2ad400"> 10.942% </td>
		</tr>
		<tr> 
			<td> <b> UTR_3_PRIME </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#07f700"> 72 </td> 
			<td class="numeric" bgcolor="#07f700"> 2.068% </td>
		</tr>
		<tr> 
			<td> <b> UTR_5_PRIME </b> </td> 
			<th> &nbsp; </th>
			<td class="numeric" bgcolor="#00fe00"> 16 </td> 
			<td class="numeric" bgcolor="#00fe00"> 0.46% </td>
		</tr>
</table><br>
 </td>
	</tr>
</table>
<p>

<img src="http://chart.apis.google.com/chart?cht=bvs&chs=800x300&chbh=50,4,8&chxt=y,y,x,x&chtt=Variations&chxp=1,50.0|3,50.0&chxr=0,0.0,63.785180930499706|1,0.0,100.0|3,0.0,100.0&chco=00FFFF,FA8072,FF0000,A52A2A,FFA500,DEB887,E9967A,7FFFD4,808080&chdl=Upstream|5%27UTR|Exon|Splice+Donor|Intron|Splice+Acceptor|3%27UTR|Downstream|Intergenic&chxl=1:|%25|2:|Intergenic|Up|5%27UTR|Exon|Donor|Intron|Acceptor|Exon|3%27UTR|Down|Intergenic|3:|&chd=e:AAK-AAAAAAAAAAAAAAAAAA,AAAAAeAAAAAAAAAAAAAAAA,AAAAAABlAAAAAABlAAAAAA,AAAAAAAAAAAAAAAAAAAAAA,AAAAAAAAAA..AAAAAAAAAA,AAAAAAAAAAAAAAAAAAAAAA,AAAAAAAAAAAAAAAACFAAAA,AAAAAAAAAAAAAAAAAANLAA,DQAAAAAAAAAAAAAAAAAADQ" border=1><p>

</center>

<!--==========================================================================
	Quality
	========================================================================== -->

<hr> 
<a name="quality"> 
<b> Quality:</b> 
<p>
<pre>
	<img src="http://chart.apis.google.com/chart?chd=e:&cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Quality+histogram&chxl=1:|Count|3:|Quality&chxr=0,2.147483647E9,-2.147483648E9|1,0.0,100.0|3,0.0,100.0"><br>
</pre>

<!--==========================================================================
	InDels
	========================================================================== -->

<hr> 
<a name="indels"> 
<b> Insertions and deletions length:</b> 
<p>
<pre>
	<table class="histo">
		<tr> <th width=15%>Min</th><td>0</td> </tr>
		<tr> <th>Max</th><td>10</td> </tr>
		<tr> <th>Mean</th><td>0.877</td> </tr>
		<tr> <th>Median</th><td>1</td> </tr>
		<tr> <th>Standard deviation</th><td>1.043</td> </tr>
		<tr> <th>Values</th><td>0,1,2,3,4,5,6,7,8,10</td> </tr>
		<tr> <th>Count</th><td>189,376,16,14,5,2,2,2,1,2</td> </tr>
		</tr>
	</table>
	<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chg=1.0,37.0,3,2&chxp=1,50.0|3,50.0&chd=e:gA..CkB7ApAAAAAAAAAA&chxl=1:|Count|2:|0|||||||||10|3:|Length&chtt=Insertion+deletion+length+histogram&chxr=0,1.0,376.0|1,0.0,100.0|3,0.0,100.0"><br>
</pre>

<!--==========================================================================
	Base changes
	========================================================================== -->

<hr> 
<a name="baseChages"> 
<center>
<b> Base changes (SNPs) </b> <p>

<table border=1>
    <tr>
    	<td> &nbsp; </td>  <th> <b> A </b> </th> <th> <b> C </b> </th> <th> <b> G </b> </th> <th> <b> T </b> </th>
    </tr>
	    <tr> <th> <b> A </b> </th><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td> </tr>
	    <tr> <th> <b> C </b> </th><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td> </tr>
	    <tr> <th> <b> G </b> </th><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td> </tr>
	    <tr> <th> <b> T </b> </th><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td><td class="numeric" bgcolor="ffffff"> 0 </td> </tr>
</table>
</center>

<p>

<!--==========================================================================
	Ts/Tv
	========================================================================== -->

<hr> 
<a name="tstv">
<center> <b> Ts/Tv (transitions / transversions) </b> <p> </center>

<small>
<b>Note:</b> Only SNPs are used for this statistic.<br>
<b>Note:</b> This Ts/Tv ratio is a 'raw' ratio (ratio of observed events).
</small>
<p>

<center>
<table border=1>
	<tr> <th> Transitions </th><td class="numeric"> 0 </td> </tr>
	<tr> <th> Transversions </th><td class="numeric"> 0 </td> </tr>
	<tr> <th> Ts/Tv ratio </th><td class="numeric"> 0 </td> </tr>
</table>
</center>
<p>

	<b>All variants:</b>
	<pre>No results available (empty input?)</pre>
	<p>
	<b>Only known variants</b> (i.e. the ones having a non-empty ID field):
	<pre>No results available (empty input?)</pre>
<p>

<!--==========================================================================
	Allele frequency
	========================================================================== -->

<hr> 
<a name="alleleFreq">
<center> <b> Allele frequency </b> <p> </center>

	<img src="http://chart.apis.google.com/chart?cht=bvg&chd=e:AA..&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chg=5.0,60.0,3,2&chxp=1,50.0|3,50.0&chtt=Allele+Frequency+%25&chxr=0,2.0,607.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Count|2:|0|50|3:|Alleles+frequency"><br>
	<table class="histo">
		<tr> <th width=15%>Min</th><td>0</td> </tr>
		<tr> <th>Max</th><td>50</td> </tr>
		<tr> <th>Mean</th><td>49.836</td> </tr>
		<tr> <th>Median</th><td>50</td> </tr>
		<tr> <th>Standard deviation</th><td>2.863</td> </tr>
		<tr> <th>Values</th><td>0,50</td> </tr>
		<tr> <th>Count</th><td>2,607</td> </tr>
		</tr>
	</table>
<p>
	
<!--==========================================================================
	Allele Count
	========================================================================== -->

<hr> 
<a name="alleleCount">
<center> <b> Allele Count </b> <p> </center>
	<img src="http://chart.apis.google.com/chart?cht=bvg&chd=e:AA..&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chtt=Allele+Count&chxp=1,50.0|3,50.0&chxl=1:|Count|2:|0|1|3:|Allele+Count&chxr=0,2.0,607.0|1,0.0,100.0|3,0.0,100.0"><br>
	<table class="histo">
		<tr> <th width=15%>Min</th><td>0</td> </tr>
		<tr> <th>Max</th><td>1</td> </tr>
		<tr> <th>Mean</th><td>0.997</td> </tr>
		<tr> <th>Median</th><td>1</td> </tr>
		<tr> <th>Standard deviation</th><td>0.057</td> </tr>
		<tr> <th>Values</th><td>0,1</td> </tr>
		<tr> <th>Count</th><td>2,607</td> </tr>
		</tr>
	</table>
<p>


<!--==========================================================================
	Hom/Het table
	========================================================================== -->

<hr> 
<a name="homHet">
<center> <b> Hom/Het per sample </b> <p> </center>
	<img src="http://chart.apis.google.com/chart?cht=bvg&chd=e:..&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Heterozygous+genotypes&chxr=0,0.0,607.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Heterozygous+count|2:|0|3:|Sample+number"><br>
	<img src="http://chart.apis.google.com/chart?cht=bvg&chd=e:AA&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Homozygous+%28ALT%29+genotypes&chxr=0,0.0,0.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Homozygous+count|2:|0|3:|Sample+number"><br>
	<img src="http://chart.apis.google.com/chart?cht=bvg&chd=e:AA&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Missing+genotypes&chxr=0,0.0,0.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Missing+count|2:|0|3:|Sample+number"><br>
	
	<pre>Sample_names , /home/francisc/data/projects/PTH/pth_panel_seq_pipeline/batches/batch0001/lock/bqsr/PTH0281-CMP027_dup_bqsr.bam
Reference , 2
Het , 607
Hom , 0
Missing , 0
</pre>
<p>

<!--==========================================================================
	Codon change table
	========================================================================== -->
	
<hr> 
<a name="codonChanges">
<center>
<b> Codon changes</b> <p>

	<div class="note">
		How to read this table: <br>
		- Rows are reference codons and columns are changed codons. E.g. Row 'AAA' column 'TAA' indicates how many 'AAA' codons have been replaced by 'TAA' codons.<br>
		- Red background colors indicate that more changes happened (heat-map).<br>
		- Diagonals are indicated using grey background color <br> 
		- WARNING: This table may include different translation codon tables (e.g. mamalian DNA and mitochondrial DNA).<br>
		<p>
	</div><p>

  
<table border=1>
	<thead>
		<tr> 
			<th> &nbsp; </th>
			 <th> - </th>  <th> ACT </th>  <th> AGC </th>  <th> CAG </th>  <th> CCC </th>  <th> GAA </th>  <th> GAT </th>  <th> GGC </th>  <th> GTC </th>  <th> TAA </th>  <th> TAC </th>  <th> TCT </th> 
		</tr>
	</thead>
			<tr> 
				<th> - </th>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#ff0000"> 14 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#629c00"> 6 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#758900"> 7 </td>
					
						<td class="numeric" bgcolor="#13eb00"> 2 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#00ff00"> 1 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> ACT </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#00ff00"> 1 </td>
			</tr>
			<tr> 
				<th> AGC </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> CAG </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> CCC </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#629c00"> 6 </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> GAA </th>
					
						<td class="numeric" bgcolor="#4eb000"> 5 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> GAT </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> GGC </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> 7 </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> GTC </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#13eb00"> 2 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> TAA </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> TAC </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#3ac400"> 4 </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> TCT </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
			</tr>
</table>
</center>

<!--==========================================================================
	Amino acid change table
	========================================================================== -->

<hr> 
<a name="aaChanges">
<center>
<b> Amino acid changes</b><p> 

	<div class="note">
		How to read this table: <br>
		- Rows are reference amino acids and columns are changed amino acids. E.g. Row 'A' column 'E' indicates how many 'A' amino acids have been replaced by 'E' amino acids.<br>
		- Red background colors indicate that more changes happened (heat-map).<br>
		- Diagonals are indicated using grey background color <br> 
		- WARNING: This table may include different translation codon tables (e.g. mamalian DNA and mitochondrial DNA).<br>
		<p>
	</div><p>

<table border=1>
	<thead>
		<tr> 
			<th> &nbsp; </th>
			 <th> * </th>  <th> - </th>  <th> ? </th>  <th> D </th>  <th> E </th>  <th> G </th>  <th> P </th>  <th> Q </th>  <th> S </th>  <th> T </th>  <th> V </th>  <th> Y </th> 
		</tr>
	</thead>
			<tr> 
				<th> * </th>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> - </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="#4eb000"> 5 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#758900"> 7 </td>
					
						<td class="numeric" bgcolor="#629c00"> 6 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#ff0000"> 14 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#13eb00"> 2 </td>
					
						<td class="numeric" bgcolor="#00ff00"> 1 </td>
			</tr>
			<tr> 
				<th> ? </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> D </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> E </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#4eb000"> 5 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> G </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> 7 </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> P </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="#629c00"> 6 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> Q </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> S </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> T </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#00ff00"> 1 </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> V </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="#13eb00"> 2 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
			</tr>
			<tr> 
				<th> Y </th>
					
						<td class="numeric" bgcolor="#3ac400"> 4 </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<td class="numeric" bgcolor="ffffff"> &nbsp </td>
					
						<th class="numeric"> &nbsp </th>
			</tr>
</table>
</center>

<!--==========================================================================
	Chromosome variants table
	========================================================================== -->

<hr> 
<a name="chrChanges">
<center>
<b> Variants by chromosome</b><p> 

<center>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+1&chxr=0,0.0,5.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0||||||||||||||||||||||||24000000||||||||||||||||||||||||48000000||||||||||||||||||||||||72000000||||||||||||||||||||||||96000000||||||||||||||||||||||||120000000||||||||||||||||||||||||144000000||||||||||||||||||||||||168000000||||||||||||||||||||||||192000000||||||||||||||||||||||||216000000||||||||||||||||||||||||240000000||||||||248000000|3:|Position&chd=e:AAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmAAAAAAAAAAAAAAAAAAZmAAAAAAAAAAAAZmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAMzAAAAAAMzAAAAAAAAAAAAAAZmAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..AAZmAAAAMzAAAAMzAAAAAAMzAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"><br>
		1, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000,157000000,158000000,159000000,160000000,161000000,162000000,163000000,164000000,165000000,166000000,167000000,168000000,169000000,170000000,171000000,172000000,173000000,174000000,175000000,176000000,177000000,178000000,179000000,180000000,181000000,182000000,183000000,184000000,185000000,186000000,187000000,188000000,189000000,190000000,191000000,192000000,193000000,194000000,195000000,196000000,197000000,198000000,199000000,200000000,201000000,202000000,203000000,204000000,205000000,206000000,207000000,208000000,209000000,210000000,211000000,212000000,213000000,214000000,215000000,216000000,217000000,218000000,219000000,220000000,221000000,222000000,223000000,224000000,225000000,226000000,227000000,228000000,229000000,230000000,231000000,232000000,233000000,234000000,235000000,236000000,237000000,238000000,239000000,240000000,241000000,242000000,243000000,244000000,245000000,246000000,247000000,248000000
1,Count,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0,2,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+2&chxr=0,0.0,5.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0||||||||||||||||||||||||24000000||||||||||||||||||||||||48000000||||||||||||||||||||||||72000000||||||||||||||||||||||||96000000||||||||||||||||||||||||120000000||||||||||||||||||||||||144000000||||||||||||||||||||||||168000000||||||||||||||||||||||||192000000||||||||||||||||||||||||216000000||||||||||||||||||||||||240000000||242000000|3:|Position&chd=e:AAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAZmAAAAAAAAAAAAAAmZAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAZmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmAAAAMzAAAAAAAAAAAAMzAAAAAAAAAAZmAAAAAAAAAAAAAAAAAAAAAAmZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAA..AAAAAAAAAAAAAAAAAAMzzMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"><br>
		2, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000,157000000,158000000,159000000,160000000,161000000,162000000,163000000,164000000,165000000,166000000,167000000,168000000,169000000,170000000,171000000,172000000,173000000,174000000,175000000,176000000,177000000,178000000,179000000,180000000,181000000,182000000,183000000,184000000,185000000,186000000,187000000,188000000,189000000,190000000,191000000,192000000,193000000,194000000,195000000,196000000,197000000,198000000,199000000,200000000,201000000,202000000,203000000,204000000,205000000,206000000,207000000,208000000,209000000,210000000,211000000,212000000,213000000,214000000,215000000,216000000,217000000,218000000,219000000,220000000,221000000,222000000,223000000,224000000,225000000,226000000,227000000,228000000,229000000,230000000,231000000,232000000,233000000,234000000,235000000,236000000,237000000,238000000,239000000,240000000,241000000,242000000
2,Count,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,5,0,0,0,0,0,0,0,0,0,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+3&chxr=0,0.0,8.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||||||||19000000|||||||||||||||||||38000000|||||||||||||||||||57000000|||||||||||||||||||76000000|||||||||||||||||||95000000|||||||||||||||||||114000000|||||||||||||||||||133000000|||||||||||||||||||152000000|||||||||||||||||||171000000|||||||||||||||||||190000000||||||||198000000|3:|Position&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHrAAAAAAAAAAAAHrAAAAHrAAAAHrAAAAAAHrAAAAAAAAAAAAAAAAAAAAAAAAAA3rAAHrAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHrAA3r..AAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHrAAAAAAAAAAAAAAAAAAHrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHrAAAAAAAAAAAAHrAAAAAAAAAAHrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHrAAAAAAAAAAAAAAAA"><br>
		3, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000,157000000,158000000,159000000,160000000,161000000,162000000,163000000,164000000,165000000,166000000,167000000,168000000,169000000,170000000,171000000,172000000,173000000,174000000,175000000,176000000,177000000,178000000,179000000,180000000,181000000,182000000,183000000,184000000,185000000,186000000,187000000,188000000,189000000,190000000,191000000,192000000,193000000,194000000,195000000,196000000,197000000,198000000
3,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,1,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,7,8,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chg=1.9E7,1.0,3,2&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+4&chxr=0,0.0,17.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||||||||19000000|||||||||||||||||||38000000|||||||||||||||||||57000000|||||||||||||||||||76000000|||||||||||||||||||95000000|||||||||||||||||||114000000|||||||||||||||||||133000000|||||||||||||||||||152000000|||||||||||||||||||171000000|||||||||||||||||||190000000|3:|Position&chd=e:AADNAAAAAAAAAAAAAAAAAAAAAAAAAAHCAAAAAAAAAAAAAAAAAAAAAAAADNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADNAADNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHCAADNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADNAAAAAADNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"><br>
		4, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000,157000000,158000000,159000000,160000000,161000000,162000000,163000000,164000000,165000000,166000000,167000000,168000000,169000000,170000000,171000000,172000000,173000000,174000000,175000000,176000000,177000000,178000000,179000000,180000000,181000000,182000000,183000000,184000000,185000000,186000000,187000000,188000000,189000000,190000000
4,Count,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+5&chxr=0,0.0,6.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0||||||||||||||||||18000000||||||||||||||||||36000000||||||||||||||||||54000000||||||||||||||||||72000000||||||||||||||||||90000000||||||||||||||||||108000000||||||||||||||||||126000000||||||||||||||||||144000000||||||||||||||||||162000000||||||||||||||||||180000000|181000000|3:|Position&chd=e:AAAAKPAAAAAAAAAAAAAAAAAAAAAAKPAAAAAAAAAAAAAAAAAAAAAAAAAAAAKPAAAAAAAAKPAAKP..AAKPAAAAAAAAAAAAAAAAAAAAAAAAAAAAKP1HKPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVHAAAAAAAAAAAAAAAAAAKPAAAAAAAAAAAAAAgAAAAAAAAAVHAAAAAAAAAAKPAAAAAAKPAAAAAAAAAA..AAAAAAAAAAKPAAAAAAAA"><br>
		5, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000,157000000,158000000,159000000,160000000,161000000,162000000,163000000,164000000,165000000,166000000,167000000,168000000,169000000,170000000,171000000,172000000,173000000,174000000,175000000,176000000,177000000,178000000,179000000,180000000,181000000
5,Count,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,6,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3,0,0,0,0,2,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,6,0,0,0,0,0,1,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+6&chxr=0,0.0,4.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||||||17000000|||||||||||||||||34000000|||||||||||||||||51000000|||||||||||||||||68000000|||||||||||||||||85000000|||||||||||||||||102000000|||||||||||||||||119000000|||||||||||||||||136000000|||||||||||||||||153000000|||||||||||||||||170000000|3:|Position&chd=e:QAAAAAAAAAAAQAAAAAAAAAAAAAAAAA..AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAQAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAQAAAAAQAAAAAAAAAAAAAAAAAAAQAAAAAAAAAQAAAQAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAQAAAQAAAAAAAAAAAAAAAAAAAAAAAQAAA"><br>
		6, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000,157000000,158000000,159000000,160000000,161000000,162000000,163000000,164000000,165000000,166000000,167000000,168000000,169000000,170000000
6,Count,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chg=1.59E7,1.0,3,2&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+7&chxr=0,0.0,15.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0||||||||||||||||16000000||||||||||||||||32000000||||||||||||||||48000000||||||||||||||||64000000||||||||||||||||80000000||||||||||||||||96000000||||||||||||||||112000000||||||||||||||||128000000||||||||||||||||144000000|||||||||||||||159000000|3:|Position&chd=e:AAAAAAAAAAAAD2AAAAAAAAD2D2AAAAAAD2AAAAAAAAD2D2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD2AAAAIUAAD2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIUAAAAAAD2AAD2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzutAAAAAAAAAAAAAAAAAAD2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzQpAAAAAAAAAAAAAA..AAAAD2utAAAAAAD2AAD2AA"><br>
		7, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000,157000000,158000000,159000000
7,Count,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,11,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,4,0,0,0,0,0,0,0,15,0,0,1,11,0,0,0,1,0,1,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+8&chxr=0,0.0,4.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0||||||||||||||14000000||||||||||||||28000000||||||||||||||42000000||||||||||||||56000000||||||||||||||70000000||||||||||||||84000000||||||||||||||98000000||||||||||||||112000000||||||||||||||126000000||||||||||||||140000000|||||145000000|3:|Position&chd=e:AAAAAAAAAAgAQAAAAAQAAAQAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAQAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAQA..AAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAA"><br>
		8, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000
8,Count,0,0,0,0,0,2,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,4,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+9&chxr=0,0.0,5.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||13000000|||||||||||||26000000|||||||||||||39000000|||||||||||||52000000|||||||||||||65000000|||||||||||||78000000|||||||||||||91000000|||||||||||||104000000|||||||||||||117000000|||||||||||||130000000||||||||138000000|3:|Position&chd=e:AAAAAAMzzMmZAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAMzAAAAAAMzmZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAMzAAAAAAZmAAAAAAAAAAAA..AAAAAAAAAAZmAAAA"><br>
		9, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000
9,Count,0,0,0,1,4,3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,0,5,0,0,0,0,0,2,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+10&chxr=0,0.0,7.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||13000000|||||||||||||26000000|||||||||||||39000000|||||||||||||52000000|||||||||||||65000000|||||||||||||78000000|||||||||||||91000000|||||||||||||104000000|||||||||||||117000000|||||||||||||130000000|||133000000|3:|Position&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAI9AAAAAAR7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI9AAAAAAAAAAR7AAAAAAAAAAAAAAAAAAAAAAAAI9AAAAAAAAAAAAAAAAAAAAAAI9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI9AAAA..AAAAAAAAAAAAAAAAAAAAAAAAAAAAI9AAAAAAAAAAI9AAAA"><br>
		10, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000
10,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chg=1.35E7,1.0,3,2&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+11&chxr=0,0.0,15.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||13000000|||||||||||||26000000|||||||||||||39000000|||||||||||||52000000|||||||||||||65000000|||||||||||||78000000|||||||||||||91000000|||||||||||||104000000|||||||||||||117000000|||||||||||||130000000|||||135000000|3:|Position&chd=e:AAAAAAAAAAAAAAD2AAAAAAAAAAAAAAAAAAAAD2AAAAAAAAAAAAAAAAAAAAAAAAAAqPAAAAAAAAAAAAIUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQpAAAAAAAAAAAAAAAAAAAAAAAAAAD2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQp..AAAAAAD2AAAAAAAAAAAAAAAAAAAAAAAA"><br>
		11, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000
11,Count,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,15,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+12&chxr=0,0.0,5.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||13000000|||||||||||||26000000|||||||||||||39000000|||||||||||||52000000|||||||||||||65000000|||||||||||||78000000|||||||||||||91000000|||||||||||||104000000|||||||||||||117000000|||||||||||||130000000|||133000000|3:|Position&chd=e:AAAAZmAAAAAAAAAAAAAAAA..AAAAAAAAMzAAAAAAAAMzMzAAAAZmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmAAAAAAzMAAAAAAAAAAAAAAMzAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzZmZmAAAAAAAAAAAAAAAAAAAAzMAAAAAAAAAAAAZmAAAA"><br>
		12, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000
12,Count,0,0,2,0,0,0,0,0,0,0,0,5,0,0,0,0,1,0,0,0,0,1,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,2,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,2,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+13&chxr=0,0.0,7.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2ZAAAAI9AAAAAAAAAAAAAAAAI9AAAAI9AAI9I9AA..AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAR7AAAAAAAAAAAAAAAAAAAAAAAAAAAAI9AAAAI9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||11000000|||||||||||22000000|||||||||||33000000|||||||||||44000000|||||||||||55000000|||||||||||66000000|||||||||||77000000|||||||||||88000000|||||||||||99000000|||||||||||110000000||||114000000|3:|Position"><br>
		13, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000
13,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+14&chxr=0,0.0,5.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzZmAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAmZAAMzAAAAAAAAAAZmAAAAAAAAAAAAAAAAAAAAAAAA..AAAAAAAAAAAAAAMzAAAAAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000||||||||||60000000||||||||||70000000||||||||||80000000||||||||||90000000||||||||||100000000|||||||107000000|3:|Position"><br>
		14, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000
14,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,1,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+15&chxr=0,0.0,4.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..v.AAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAgAAAAAAAQAAAQAAAAAQAAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000||||||||||60000000||||||||||70000000||||||||||80000000||||||||||90000000||||||||||100000000|101000000|3:|Position"><br>
		15, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000
15,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2,0,0,0,1,0,1,0,0,1,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chg=9000000.0,1.0,3,2&chtt=Variants+histogram%3A+16&chxr=0,0.0,13.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAOuAAAAAAAAAAAAAAAAAAAAAAAAAAAA..AAAAAAAAAAAAAAAAAAAAAAOuEfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEfAAAAAAAAEfAAAAAAAAAAAAAAAAAAAAAAJmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEfAAAAAAAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000||||||||||60000000||||||||||70000000||||||||||80000000||||||||||90000000|3:|Position"><br>
		16, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000
16,Count,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,0,0,0,0,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chg=8300000.0,1.0,3,2&chtt=Variants+histogram%3A+17&chxr=0,0.0,14.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAR7AAAAAAI9EftbNcAAAAAAAAAAEfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..AAAAAAAAEfAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAEfAAAAAAAAEfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000||||||||||60000000||||||||||70000000||||||||||80000000|||83000000|3:|Position"><br>
		17, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000
17,Count,0,4,0,0,0,2,1,10,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,14,0,0,0,0,1,0,0,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+18&chxr=0,0.0,2.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAA..AAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAgAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000||||||||||60000000||||||||||70000000||||||||||80000000|3:|Position"><br>
		18, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000
18,Count,0,0,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+19&chxr=0,0.0,3.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAAAVHAAVHAAAAAAAAAAVHVHAAAAAAAAAAAAAAAAAAAAAAAAAAAAVHAAVHAAAA..AAAAVHAAAAAAAAAAAAAAAAVHAAAAAAAAAAAAAAAAAAAAVHAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000||||||||58000000|3:|Position"><br>
		19, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000
19,Count,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,3,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+20&chxr=0,0.0,3.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAVHAAAAAAAAAAqPAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..AAAAAAqPAAVHAAAAVHAAVHAAAAAAAAAAqPAAAAAAAAAAAAVHAAAAAAAAVHAAAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000||||||||||60000000||||64000000|3:|Position"><br>
		20, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000
20,Count,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,2,0,1,0,0,1,0,1,0,0,0,0,0,2,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+21&chxr=0,0.0,2.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAgAAAAAAAAAAAAAAAAAAAgAAA..&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||46000000|3:|Position"><br>
		21, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000
21,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,2

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+22&chxr=0,0.0,8.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAQAAAAAXrHrAAAAAAAAAAAAAAAAAAAA..AAAAAAAAAAAAHrAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000|3:|Position"><br>
		22, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000
22,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,0,3,1,0,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,0,1,0,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+X&chxr=0,0.0,5.0|1,0.0,100.0|3,0.0,100.0&chxl=1:|Variants%2F1000Kb|2:|0|||||||||||||||15000000|||||||||||||||30000000|||||||||||||||45000000|||||||||||||||60000000|||||||||||||||75000000|||||||||||||||90000000|||||||||||||||105000000|||||||||||||||120000000|||||||||||||||135000000|||||||||||||||150000000||||||156000000|3:|Position&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzMAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAZmAAAAAAAA..AAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzAAAAAA..AAAAAAAAAAAAAAAAAAZmAAAAAAAAAAAAAAAAAAAAMzAAAAAAAAAAAAAAAAAAmZAA"><br>
		X, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000,58000000,59000000,60000000,61000000,62000000,63000000,64000000,65000000,66000000,67000000,68000000,69000000,70000000,71000000,72000000,73000000,74000000,75000000,76000000,77000000,78000000,79000000,80000000,81000000,82000000,83000000,84000000,85000000,86000000,87000000,88000000,89000000,90000000,91000000,92000000,93000000,94000000,95000000,96000000,97000000,98000000,99000000,100000000,101000000,102000000,103000000,104000000,105000000,106000000,107000000,108000000,109000000,110000000,111000000,112000000,113000000,114000000,115000000,116000000,117000000,118000000,119000000,120000000,121000000,122000000,123000000,124000000,125000000,126000000,127000000,128000000,129000000,130000000,131000000,132000000,133000000,134000000,135000000,136000000,137000000,138000000,139000000,140000000,141000000,142000000,143000000,144000000,145000000,146000000,147000000,148000000,149000000,150000000,151000000,152000000,153000000,154000000,155000000,156000000
X,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,5,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,5,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,3,0

	</pre>
	<pre>
		<img src="http://chart.apis.google.com/chart?cht=bvg&chbh=8,4,2&chs=800x300&chxt=y,y,x,x&chxp=1,50.0|3,50.0&chtt=Variants+histogram%3A+Y&chxr=0,0.0,1.0|1,0.0,100.0|3,0.0,100.0&chd=e:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&chxl=1:|Variants%2F1000Kb|2:|0||||||||||10000000||||||||||20000000||||||||||30000000||||||||||40000000||||||||||50000000|||||||57000000|3:|Position"><br>
		Y, Position,0,1000000,2000000,3000000,4000000,5000000,6000000,7000000,8000000,9000000,10000000,11000000,12000000,13000000,14000000,15000000,16000000,17000000,18000000,19000000,20000000,21000000,22000000,23000000,24000000,25000000,26000000,27000000,28000000,29000000,30000000,31000000,32000000,33000000,34000000,35000000,36000000,37000000,38000000,39000000,40000000,41000000,42000000,43000000,44000000,45000000,46000000,47000000,48000000,49000000,50000000,51000000,52000000,53000000,54000000,55000000,56000000,57000000
Y,Count,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

	</pre>
</center>

<!--==========================================================================
	Variants by gene 
	========================================================================== -->

<center>
	<hr>
	<b> Details by gene </b><p>
	<p>
	<b><a href="snpEff_genes.txt">Here</a></b> you can find a tab-separated table.
</center>
</div>
</center>